html{
  height: 100%;
}

body{
  height: 100%;
  padding: 0;
  margin: 0;
  background-color:#E5E5E5;
  font-family: 'Roboto', sans-serif;
}

.wrap{
  font-size: 16px;
  line-height: 20px;
  position: relative;
  min-height: calc(100% - 200px)
}

main{
  background-color: #FFFFFF;
  box-sizing: border-box;
  border: 1px solid #DADADA;
  margin: 113px auto 23px;
  max-width: 1280px;
  padding-bottom: 24px;
  border-top: 2px solid #518E6A;
}

.search{
  margin: 41px 0px 35px 43px; 
}

a{
  text-decoration: none;
  cursor: pointer;
}

.search a{
  color: #3072C4;
}

#search-field{
  box-sizing: border-box;
  width: 287px;
  padding: 10px 0px 12px 10px;
  border: 1px solid #CECECE;
  vertical-align: top;
  line-height: 20px;
}

input{
  font-family: 'Roboto', sans-serif;
}

#search-field::placeholder{
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  color: #A0A0A0;
}

#search-btn{
  background: #518E6A;
  border: 1px solid #518E6A;
  border-radius: 1px;
  color: #ffffff;
  line-height: 28px;
  font-size: 16px;
  padding: 6px 15px 7px;
  margin: 0px 11px 0px 5px;
}

.search h2{
  font-size: 32px;
  font-weight: 300;
  line-height: 40px;
  padding: 0;
  margin: 0 0 34px 0px;
}

table{
  text-align: left;
  width: 100%;
  border-spacing: 0;
}

tr{
  line-height: 25px;
}

tbody tr:hover{
  background-color: #F2F2F2;
  color: #3072C4;
  cursor: pointer;
}

tbody::before {
  height: 9px;
  display: table-row;
  content: '';
}

td{
  padding: 5px 0 5px 0px;
}

th{
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0px 0px 8px 0px;
}

td:first-child, th:first-child{
  padding-left: 44px;
}

td:last-child, th:last-child {
  padding-right: 49px;
}

.footer-margin{
  height: 47px;
}

footer{
  color: #A1A1A1;
  position: absolute;
  margin: 0 auto;
  width: 1280px;
  bottom: 0;
  left: 0;
  right: 0;
}

.kontur-info{
  font-size: 14px;
}

.kontur-info b{
  font-size: 16px;
}

.first-line{
  margin-bottom: 7px;
}

img{
  float: left;
  margin-right: 7.98px;
  height: 22px;
  padding-bottom: 10px;
}

.popup{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  min-height: 100%;
  width:100%;
  overflow: auto;
}

.popup:target {
  display: block;
}

form{
  width: 500px;
  margin: 139px auto 0px;
  background-color: #FFFFFF;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}

.form-data{
  padding: 23px 34px 17px 31px;
}

.form-head h2{
  font-size: 22px;
  font-weight: 400;
  line-height: 30px;
  margin: 0 0 29px 0;
}

.form-head{
  position: relative;
}

.form-head a{
  position: absolute;
  right: 0;
  opacity: 0.54;
}

.form-head a:visited {
  color: black;
  opacity: 0.54;
}

.line{
  margin-bottom: 16px;
}

.line label{
  line-height: 40px;
  float: left;
}

.line::after{
  clear: both;
  content: "";
  display: block;
}

.line-field{
  padding: 0;
  margin-top: 2px;
  float: right;
  width: 269px;
  height: 38px;
  border: 1px solid #CECECE;
}

.small{
  width: 130px;
  margin-right: 139px;
}

.buttons{
  padding: 20px 0 20px 29px;
  background: #E9E9E9;
}

.buttons input {
  line-height: 28px;
  font-size: 16px;
  padding: 5px 15px 6px 16px;
}

#find{
  border: 1px solid #518E6A;
  background: #518E6A;
  color: #ffffff;
  border-radius: 1px;
  margin-right: 6px;
}

#cancel{
  border: 1px solid rgba(0, 0, 0, 0.15);
  background: #ffffff;
  border-radius: 2px;
  padding-left: 17px;
  padding-right: 19px;
}
